*{
  box-sizing: border-box;
}
#regLogContainer {
  display: flex;
  flex-direction: row;
}
#regLogContainer * {
  display: block;
}
#registration-form,
#logOut,
#logLand {
  display: none;
}
#registration-form,
#login-form {
  margin: 0 auto;
}
header {
  margin: 20px 0 50px;
  display: flex;
  flex-direction: column;
}
#firstContainer {
  display: flex;
  width: 100%;
}
header img {
  height: 10em;
}
header button {
  height: 30px;
  width: 100px;
}
#logOut {
  display: none;
}
#adminNav,
#simpleNav {
  display: none;
}
#categoryList h5{
  width:20rem;
  display:inline;
}
.removeCategory{
  background-color: red;
}
#addPostForm *{
  display:block;
}
.postCard{
  width:300px;
  height:300px;
  border: 1px solid black;
  overflow: hidden;
}
.postCard img{
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.postCard *{
  margin: 0;
  padding: 5px;
}
.postCard p{
  margin:30px 0 0 0;
}
.postCard span{
  float:right;
  background: yellow;
}