*{
  box-sizing: border-box;
}
#regLogContainer {
  display: flex;
  flex-direction: row;
}
#regLogContainer * {
  display: block;
}
#registration-form,
#logOut,
#logLand {
  display: none;
}
#registration-form,
#login-form {
  margin: 0 auto;
}
header {
  margin: 20px 0 50px;
  display: flex;
  flex-direction: column;
  position: sticky;
}
#firstContainer {
  display: flex;
  width: 100%;
}
header img {
  height: 10em;
}
header button {
  height: 30px;
  width: 100px;
}
#logOut {
  display: none;
}
#adminNav,
#simpleNav {
  display: none;
}
#categoryList h5{
  width:20rem;
  display:inline;
}
.removeCategory{
  background-color: red;
}
#addPostForm *{
  display:block;
}
.postCard{
  width:300px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
}
.postCard div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.postCard *{
  margin: 0;
  padding: 0;
}
.postCard p{
  margin:30px 0 0 0;
}
.postCard span{
  float:right;
  background: yellow;
}
#postCardImgContainer{
  width: 100%;
  height: 180px;
}
#postBtnContainer{
  position: absolute;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
#postBtnContainer button{
  width: 20px;
  height:20px;
}
#favBtn{
  order:1;
  margin-right:auto;
}
#favBtn:hover{
  background-color: yellow;
}
#backdrop{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
  z-index: 1;
  width:100%;
  height:100%;
  left: 0;
  backdrop-filter: blur(8px);
}
#commentForm{
  position: absolute;
  z-index: 2;
  background: gray;
  left:20%;
  width: 60%;
  padding: 10px;
  margin-top: 20px;
}
.comment{
  display: flex;
  gap:5rem;
  border-top: 1px solid black;
  margin: 5px 0 0 0;
}
.comment p{
  width:50%;
}
textarea{
  max-width: 200px;
  max-height: 100px;
}

button{
  height:30px;
  margin: auto;
}
#simpleNav *{
  height: 30px;
  width: 110px;
  background: orange;
  border: 1px solid black;
}